{% extends 'base.html' %}
{% block content %}
{% if articles %}
	<br/>

	{% for article in articles %}

	<div class='container'>
		<div class="row">
			<div class="card" style="width: 800px;">
			  <div class="card-body">
			    <h5 class="card-title">{{ article.title }}</h5>
			    <h6 class="card-subtitle mb-2 text-muted">By: {{ article.reporter.name }}</h6>
			    <p class="card-text">{{ article.text }}</p>

			    {% if perms.curso.change_article %}
			    	<a href="{% url 'curso:article_edit' article.id %}" class="card-link">Edit</a>
			    {% endif %}
			    {% if perms.curso.delete_article %}
			    	&nbsp;
			    	<a href="{% url 'curso:article_delete' article.id %}" class="card-link">Delete</a>
			    {% endif %}

			    {% if perms.curso.publish_article %}
			    	&nbsp;
			    	<a href="{% url 'curso:article_publish' article.id %}" class="card-link">Publish</a>
			    {% endif %}

			  </div>
		</div>
	</div>

	{% endfor %}
{% else %}
	<h2>No articles to show</h2>
{% endif %}

{% endblock content %}

