{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Start a New Topic{% endblock %}

{% block content%}


	<div class="container">
	    <div class="row">
	      <div class="breadcrumb-item"><a href="{% url 'post:index' %}">Boards</a></div>
	      <div class="breadcrumb-item active">{{ board.name }}</div>
	      <div class="breadcrumb-item active">New topic</div>
	    </div>

		<form method="post" novalidate>
  {% csrf_token %}

  {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}

          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}

        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">
          {{ field.help_text }}
        </small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-success">Post</button>
</form>
	</div>

{% endblock %}