{% extends 'base.html' %}
{% load widget_tweaks%}
{% block content %}
{% if animacoes %}
	<br/>

	<div class='container'>
		<div class="container">
			
		<div>
		    <table class="table">
		      <thead class="thead-inverse">
		        <tr>
		          <th>Animações</th>
		          <th>Posts</th>

		        </tr>
		      </thead>
		      <tbody>
		          <tr>
		            <td>
		            	
		              <a href="{%url 'desenho:animacao_steven'%}">Steven Universo</a><br>
		              <small style="color: #888">É a história de amadurecimento de um menino, Steven Universe, que mora com as Crystal Gems - seres intergaláticos mágicos. As chamadas Garnet, Pérola e Ametista - na cidade fictícia de Beach City. Steven, que é meio gem, tem aventuras com seus amigos e ajuda as gems a proteger o mundo de sua própria espécie corrompida.</small>
		            </td>
		            <td class="align-middle">0</td>
		        </tr>
		        <tr>
		            <td>
		            	<a href="{%url 'desenho:animacao_aventura'%}">Hora de Aventura</a><br>
		            	<small style="color: #888"> A série segue as aventuras de Finn , um garoto humano aventureiro, e o seu melhor amigo e irmão adotivo Jake, um cão com poderes que lhe permitem alterar a forma e tamanho conforme a sua vontade. Finn e Jake habitam a pós-apocalíptica Terra de Ooo, onde interagem com os outros personagens.</small>
		            </td>
		            <td class="align-middle">0</td>
		            </td>
		        </tr>
		        <tr>
		            <td>
		            	<a href="{%url 'desenho:animacao_gumball'%}">O Incrível Mundo de Gumball</a><br>
		            	<small style="color: #888">A série gira em torno de Gumball Watterson, um gato azul de 12 anos de idade, que frequenta a escola secundária na cidade de Elmore. Acompanhado por seu irmão peixinho, Darwin, os dois frequentemente se vêem envolvidos em várias confusões em diversos locais da cidade.</small>
		            </td>
		            <td class="align-middle">0</td>
		            </td>
		        </tr>
		      </tbody>
		    </table>
		</div>

{% else %}
	<h2>No animations to show</h2>
{% endif %}

{% endblock content %}