{% extends 'base.html' %}
{% block content %}
<br> <br> <br>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .card {
        width: 350px;
        height: 560px;
      }
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
    </style>

  <div class='container'>
    <div class="container">
      
    
    <main role="main">
    <div class="container">
      <img src="https://cdn.worldvectorlogo.com/logos/steven-universe.svg" widt=150px height=150px class="center" >
    </div> <br> <br>
   <div >
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="https://vignette.wikia.nocookie.net/steven-universe/images/b/b7/SUFuture_By_TheOffColors.png/revision/latest/scale-to-width-down/2000?cb=20191118021352" width="100%" height="350" class="bd-placeholder-img card-img-top " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Steven</h5>
              <p class="card-text">É o personagem principal da série. É filho de Rose Quartz, a ex-líder das Crystal Gems. Após a morte de sua mãe, passa a viver com o grupo liderado por ela.</p>
            </div>
          </div> <br>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img src="http://vignette4.wikia.nocookie.net/stevenuniverso/images/7/73/Pearl.png/revision/latest?cb=20141220124759&path-prefix=pt-br" width=250px height=350px class="bd-placeholder-img card-img-top " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pérola</h5>
              <p class="card-text">Ela é muito amorosa, gentil e delicada para o Steven. No entanto, ela também tende a ser superprotetora. Possui  uma baixa autoestima, e sempre está profundamente sobrecarregada com a tristeza causada pelo luto.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="https://i.pinimg.com/originals/89/14/22/891422ded2b0134db09215e5663e0e95.png" width=300px height=350x class="bd-placeholder-img card-img-top " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Garnet</h5>
              <p class="card-text">É a líder das Crystal Gems. É uma personagem que muitas vezes transparece ser insensível e pragmática, porém ela é uma pessoa corajosa e que se importa muito com os outros</p>
            </div> <br>
          </div>
        </div> <br>
         <div class="col-md-4">
          <div class="card">
            <img src="https://miro.medium.com/max/2136/1*ghKmo6qRkLso0LJIclXqhA.png" width=150px height=350x class="bd-placeholder-img card-img-top " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Ametista</h5>
              <p class="card-text">Ela foi a última Gem conhecida a ser fabricada na Terra como parte do projeto do Jardim de Infância. Após a Rebelião, Ametista se tornou uma Crystal Gem e passou a ajudar seus companheiros a proteger a Terra.</p>
            </div>
          </div>
        </div>
         <div class="col-md-4">
          <div class="card">
            <img src="https://vignette.wikia.nocookie.net/steven-universe/images/a/a5/Connie3_2_By_TheOffColors.png/revision/latest/scale-to-width-down/2000?cb=20191024015949" width=150px height=350x class="bd-placeholder-img card-img-top " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Connie </h5>
              <p class="card-text"> É uma garota descendente de indianos. Ela é uma espadachim, melhor amiga e interesse romântico de Steven. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="https://vignette.wikia.nocookie.net/steven-universe/images/6/69/Stevonnie_with_Sword_and_Shield_by_Lenhi_fix.png/revision/latest/scale-to-width-down/2000?cb=20190222202900" width=250px height=350x class="bd-placeholder-img card-img-top " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Stevoonie </h5>
              <p class="card-text">Stevonnie é a fusão entre Steven Quartz Universo e Connie Maheswaran, que fez sua primeira aparição no episódio "Juntos e Sozinhos".</p>
            </div>
          </div>
        </div>

{% endblock content %}